body {
  font-size: 13px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 20px;
  color: #333;

	padding-left: 23px;
	padding-right: 23px
}
body, p, h1, h2, h3, h4, h5, h6, textarea, input {
    font-weight: normal
}
h1, h2, h3, h4, h5, h6, p, blockquote, code, pre {
    word-wrap: break-word
}
h1, h2, h3, h4, h5, h6 {
	margin: 10px 0;
	line-height: 20px;
	color: inherit;
	text-rendering: optimizelegibility;
  &:first-child {
    margin-top: 0
  }
}
h1, h2, h3 {
    line-height: 40px;
}

h1 { font-size: 38.5px }
h2 { font-size: 31.5px }
h3 { font-size: 24.5px }
h4 { font-size: 17.5px }
h5 { font-size: 14.0px }
h6 { font-size: 11.9px }

p:last-child { margin-bottom: 0 }

a {
    color: #2a9ceb;
		text-decoration: none;
}
a:hover, a:focus {
	color: #005580;
	text-decoration: underline
}

img {
	max-width:100%;
	box-sizing:content-box
}
img[align=right] {
	padding-left:20px
}
img[align=left] {
	padding-right:20px
}

ul, ol {
  margin-top:0.8em;
  margin-bottom:0.8em;
  padding: 0;
  margin: 0 0 10px 25px;
}

hr {
	width:85%;
	margin:0.8em auto;
	border-top:1px solid #DDDDDD
	border: 0;
	border-bottom: 1px solid #fff
}

code, pre {
    padding: 0 3px 2px;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    font-size: 12px;
    color: #333;
    border-radius: 3px
}
code {
    white-space: normal;
    padding: 2px 4px;
    color: #d14;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    white-space: nowrap
}

blockquote {
    padding: 0 0 0 15px;
    margin: 0 0 20px;
    border-left: 5px solid #eee
}