body {
  font-family: Helvetica, arial, sans-serif;
  font-size: 16px;
	line-height:1.6;
  word-wrap: break-word;
  background-color: white;

	padding-left: 23px;
	padding-right: 23px
}
 
body > *:first-child {
  margin-top: 0 !important;
}
 
body > *:last-child {
  margin-bottom: 0 !important;
}
 
a {
  color: #4183C4;
  text-decoration: none;
}
 
a.absent {
  color: #cc0000;
}
 
a.anchor {
  display: inline-block;
	padding-right:2px;
}
 
a.anchor:focus {
	outline:none
}

h1, h2, h3, h4, h5, h6 {
	margin-top:1em;
	margin-bottom:16px;
	font-weight:bold;
	line-height:1.4
}
 
h1:hover a.anchor, h2:hover a.anchor, h3:hover a.anchor, h4:hover a.anchor, h5:hover a.anchor, h6:hover a.anchor {
  text-decoration: none;
}
 
h1 tt, h1 code {
  font-size: inherit;
}
 
h2 tt, h2 code {
  font-size: inherit;
}
 
h3 tt, h3 code {
  font-size: inherit;
}
 
h4 tt, h4 code {
  font-size: inherit;
}
 
h5 tt, h5 code {
  font-size: inherit;
}
 
h6 tt, h6 code {
  font-size: inherit;
}
 
h1 {
	padding-bottom:0.3em;
	font-size:2.25em;
	line-height:1.2;
	border-bottom:1px solid #eee
}
h1 .anchor {
	line-height:1
}
h2 {
	padding-bottom:0.3em;
	font-size:1.75em;
	line-height:1.225;
	border-bottom:1px solid #eee
}
h2 .anchor {
	line-height:1
}
h3 {
	font-size:1.5em;
	line-height:1.43
}
h3 .anchor {
	line-height:1.2
}
h4 {
	font-size:1.25em
}
h4 .anchor {
	line-height:1.2
}
h5 {
	font-size:1em
}
h5 .anchor {
	line-height:1.1
}
h6 {
	font-size:1em;
	color:#777
}
h6 .anchor {
	line-height:1.1
}
 
p, blockquote, ul, ol, dl, li, table, pre {
	margin-top:0;
	margin-bottom:16px
}
 
hr {
	height:4px;
	padding:0;
	margin:16px 0;
	background-color:#e7e7e7;
	border:0 none
}

ul, ol {
	margin-top: 13px;
	margin-left: 3px;
	padding-left:2em;
}

ul.no-list, ol.no-list {
	padding:0;
	list-style-type:none
}

h1 p, h2 p, h3 p, h4 p, h5 p, h6 p {
  margin-top: 0;
}
 
ul,ol {
    list-style-position: inside;
	padding: 0;
	margin: 4px 0px 1.23em 1.23em
}
ul.no-list,ol.no-list {
	padding:0;
	list-style-type:none
}
ul ul,ul ol,ol ol,ol ul {
	margin-top: 5px;
	margin-bottom: 5px
}
li > ul, li > ol {
	margin-top:0px
}
li {
	line-height: 1.23;
	margin: 5px 0px 0px 0px;
	padding: 0px
}
li>p {
	margin-top:5px
}
dl {
	padding:0
}
dl dt {
	padding:0;
	margin-top:16px;
	font-size:1em;
	font-style:italic;
	font-weight:bold
}
dl dd {
	padding:0 16px;
	margin-bottom:16px
}

blockquote {
  border-left: 4px solid #dddddd;
  padding: 0 15px;
  color: #777777;
}
 
blockquote > :first-child {
  margin-top: 0;
}
 
blockquote > :last-child {
  margin-bottom: 0;
}
 
table {
	display:block;
	width:100%;
	overflow:auto;
	word-break:normal;
	word-break:keep-all
}
table th {
	font-weight:bold
}
table th,table td {
	padding:6px 13px;
	border:1px solid #ddd
}
table tr {
	background-color:#fff;
	border-top:1px solid #ccc
}
table tr:nth-child(2n) {
	background-color:#f8f8f8
}
 
img {
	max-width:100%;
	box-sizing:content-box;
	background-color:#fff
}
img[align=right] {
	padding-left:20px
}
img[align=left] {
	padding-right:20px
}
.emoji {
	max-width:none;
	background-color:transparent
}
 
span.frame {
  display: block;
  overflow: hidden;
}
span.frame > span {
	display:block;
	float:left;
	width:auto;
	padding:7px;
	margin:13px 0 0;
	overflow:hidden;
	border:1px solid #ddd
}
span.frame span img {
  display: block;
  float: left;
}
span.frame span span {
	display:block;
	padding:5px 0 0;
	clear:both;
	color:#333
}
span.align-center {
  display: block;
  overflow: hidden;
  clear: both;
}
span.align-center > span {
  display: block;
  overflow: hidden;
  margin: 13px auto 0;
  text-align: center;
}
span.align-center span img {
  margin: 0 auto;
  text-align: center;
}
span.align-right {
  display: block;
  overflow: hidden;
  clear: both;
}
span.align-right > span {
  display: block;
  overflow: hidden;
  margin: 13px 0 0;
  text-align: right;
}
span.align-right span img {
  margin: 0;
  text-align: right;
}
span.float-left {
  display: block;
  margin-right: 13px;
  overflow: hidden;
  float: left;
}
span.float-left span {
  margin: 13px 0 0;
}
span.float-right {
  display: block;
  margin-left: 13px;
  overflow: hidden;
  float: right;
}
span.float-right > span {
	display:block;
	margin:13px auto 0;
	overflow:hidden;
	text-align:right
}
 
code, tt {
	padding:0;
	padding-top:0.2em;
	padding-bottom:0.2em;
	margin:0;
	font-size:85%;
	border-radius:3px

	display: inline;
   max-width: initial;
   overflow: initial;
   line-height: inherit;
   word-wrap: normal;
   background-color: transparent;
   border: 0;
   font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace
}
code:before,code:after,tt:before,tt:after {
	letter-spacing:-0.2em;
	content:"\00a0"
}
code br,tt br {
	display:none
}
del code {
	text-decoration:inherit
} 
pre>code {
	padding:0;
	margin:0;
	font-size:100%;
	word-break:normal;
	white-space:pre;
	background:transparent;
	border:0
}
.highlight {
	margin-bottom:16px
}
.highlight pre,pre {
	padding:16px;
	overflow:auto;
	font-size:85%;
	line-height:1.45;
	background-color:#f7f7f7;
	border-radius:3px
}
.highlight pre {
	margin-bottom:0;
	word-break:normal
}
pre {
	word-wrap:normal
}
pre code,pre tt {
	display:inline;
	max-width:initial;
	padding:0;
	margin:0;
	overflow:initial;
	line-height:inherit;
	word-wrap:normal;
	background-color:transparent;
	border:0
}
pre code:before,pre code:after,pre tt:before,pre tt:after {
	content:normal
}
kbd {
	display:inline-block;
	padding:3px 5px;
	font-size:11px;
	line-height:10px;
	color:#555;
	vertical-align:middle;
	background-color:#fcfcfc;
	border:solid 1px #ccc;
	border-bottom-color:#bbb;
	border-radius:3px;
	box-shadow:inset 0 -1px 0 #bbb
}