body, h1, h2, h3, h4 {
  font-family: HelveticaNeue,"Helvetica Neue",HelveticaNeueRoman,HelveticaNeue-Roman,"Helvetica Neue Roman",TeXGyreHerosRegular,Helvetica,Tahoma,Geneva,Arial,sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  font-stretch: normal;
}
body {
  color: #333;
	padding-left: 23px;
	padding-right: 23px
}

h1, h2, h3, h4 {
    font-family: HelveticaNeueBold,HelveticaNeue-Bold,"Helvetica Neue Bold",HelveticaNeue,"Helvetica Neue",TeXGyreHerosBold,Helvetica,Tahoma,Geneva,Arial,sans-serif;
    font-weight: 600;
    font-stretch: normal;
    color: #262626;
    text-transform: none;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 20px;
    line-height: 28px;
    margin: 20px 0 10px;
}
h2 {
    font-size: 18px;
    line-height: 25px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 12px;
}

p {
    margin: 0 0 10px;
}

a {
    color: #337ab7;
    text-decoration: none;
    background-color: transparent;
}

img {
	max-width:100%;
	box-sizing:content-box
}
img[align=right] {
	padding-left:20px
}
img[align=left] {
	padding-right:20px
}

ol, ul {
    margin-bottom: 10px;
}
dl, ol, ul {
    margin-top: 0;
}
ul {
    padding: 0 0 10px 24px;
}

blockquote {
    font-size: inherit;
    padding: 10px 20px;
    margin: 0 0 20px;
    border-left: 5px solid #eee;
}

code {
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}
code, kbd, pre, samp {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
code, kbd {
    padding: 2px 4px;
    font-size: 90%;
}
code, kbd, pre, samp {
    font-size: 1em;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #eee;
}
hr {
    box-sizing: content-box;
    height: 0;
}
hr, img {
    border: 0;
}